body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
}
.navbar {
    color: white;
    text-align: center;
}
html, body, body * {
    cursor: url('mouse.svg'), auto;
}