/* styles.css */

/* Set font to Lexend, background to black, and text color to white */
body {
    font-family: 'Lexend', sans-serif;
    background-color: black;
    color: white; /* Text color set to white for better visibility */
    cursor: url('mouse.svg'), auto; /* Set custom cursor */
}

/* Remove blue color and underline from links within elements with the class "navbar" */
.navbar a {
    text-decoration: none;
    color: inherit;
}

/* Define the keyframes for the rotating animation */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the .rotating class */
.rotating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust height as needed */
}

.rotating h1 {
    animation: rotating 2s linear infinite;
    transform-origin: center center;
}

/* Modern button styling */
.modern-button {
    display: inline-block;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.modern-button:hover {
    transform: scale(1.1);
    background-color: #45a049;
}
