/* styles.css */

/* Set font to Lexend, background to black, and text color to white */
body {
    font-family: 'Lexend', sans-serif;
    background-color: black;
    color: white; /* Text color set to white for better visibility */
    cursor: url('mouse.svg'), auto; /* Set custom cursor */
}

/* Remove blue color and underline from links within elements with the class "navbar" */
.navbar a {
    text-decoration: none;
    color: inherit;
}

/* Define the keyframes for the rotating animation */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the <h1> element inside .rotating */
.rotating h1 {
    display: inline-block; /* Make the h1 an inline-block element */
    animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
    transform-origin: center; /* Ensure rotation around the element's center */
}
